.ocean { 
  opacity: 0;
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
  animation: fade-in 1.5s ease-in-out forwards;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

html, body { height: 100%; }
body {
  overflow: hidden;
}

@keyframes wave-animation {
  0% {
    transform: translateX(-500px) scaleY(0.4);
  }
  100% {
    transform: translateX(500px) scaleY(0.4);
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
  blob-btn {
    display: none;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.card-left {
  display: flex;

  position: absolute;
  top: 0;
  left: 0;
  max-width: 40%;
  min-width: 10%;
  height: 130%;

  background-color: #F6E5C9;
  animation: fade-in 0.5s ease-in-out forwards;
}

.card-left-title {
  font-size: 12px;
  font-weight: bold;

  opacity: 0;
  animation: moveAndFadeIn 1s ease forwards;
}

.card-left-image {
  border-radius: 50%;
  height: auto;
  max-height: 15%;
  width: 15%;
  max-width: 70%;
  min-width: 100px;
  opacity: 0;
  position: flex;
  animation: moveAndFadeIn 1s ease forwards;
  margin-left: auto;
  margin-right: 5%; 
}

@keyframes moveAndFadeIn {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.card-left-text {
  margin-top: 8%;
  margin-right: 2%;

  font-size: 15px;
  font-weight: bold;

  opacity: 0;
  animation: fade-in 1.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}