@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: 50%;
  position: absolute;
  place-content: center;
  width: 50%;
}
@media (max-width: 50%) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 30px;
  width: 640px;
}
@media (max-width: 50%) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 50%) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 50%) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  body {
  background: #333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }

  .blob-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 46px;
    text-align: center;
    text-transform: uppercase;
    color: #0fe0f5;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
  }

  .blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid #0fe0f5;
  }
  .blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  border: 6px solid #222;
  transition: all 0.3s 0.2s;
  }
  .blob-btn:hover {
  color: #222;
  }
  .blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  }
  .blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  }
  .blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
  }
  .blob-btn__blob {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: #0fe0f5;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
  }
  @supports (filter: url('#goo')) {
  transform: translate3d(0, 150%, 0) scale(1.4);
  }
  .blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
  }
  .blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
  }
  .blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
  }
  .blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
  }
  .blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
  }
  @supports (filter: url('#goo')) {
  transform: translateZ(0) scale(1.4);
  }

  .water {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .wave {
    width: 200%;
    height: 100%;
    background: #0066ff;
    position: absolute;
    top: 0;
    left: 0;
    animation: wave-animation 4s linear infinite;

  }
  
  @keyframes wave-animation {
    0% {
      transform: translateX(-1000px) scaleY(0.4);
    }
    100% {
      transform: translateX(1000px) scaleY(0.4);
    }
  }

  html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
  blob-btn {
    display: none;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(2000);
  }
  to {
    transform: translateY(0);
  }
  
}

#waveUp {
  width: 100%;
  height: 100%;
  background-color: blue;
}

@keyframes waveUp {
  0% {
    transform: translateY(300);
  }
  100% {
    transform: translateY(-2000px);
    display: none;
  }
}

#blue-strip {
  margin-left: -30px;
  width: 10000px;
  height: 5px;
  background-color: #015871;
  position: absolute;
  bottom: 0;
  transition: height 2s linear;
  transform-origin: top;
}

@keyframes slideUp {
  from {
    transform: translateY(300);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(2000);
  }
  to {
    transform: translateY(0);
  }
  
}
