nav {
    background-color: #F6E5C9;
    border-radius: 20px;
    padding: 20px;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    margin: 0 auto;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }
  li {
    margin: 0 10px;
  }
  a {
    text-decoration: none;
    color: #333;
    font-family: 'Inter UI', sans-serif;
  }
  a:hover {
    color: #f00;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .island {
    margin-top: 5%;
    background-color: #F6E5C9;
    border-radius: 20px;
    padding: 20px;
    opacity: 0;
    color: #333;
    animation: fade-in 1s ease-in-out forwards;
    font-family: 'Inter UI', sans-serif;
    justify-content: center;
  }

  a {
    margin-top: 25px;
    display: flex;
    align-items: center;
    animation: fade-in 1s ease-in-out forwards;
    font-family: 'Inter UI', sans-serif;
    justify-content: center;
    text-decoration: none;
    color: #333;
    font-family: 'Inter UI', sans-serif;
  }
  .profile-img {
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: auto;
        max-height: 15%;
        width: 15%;
        max-width: 70%;
        min-width: 100px;
        margin-left: 42.5%;
    }
    @media  (max-width: 767px) {
      .profile-img {
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: auto;
        max-height: 15%;
        width: 15%;
        max-width: 70%;
        min-width: 100px;
        margin-left: 37%;
      }
    }
      
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }